*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #dedede;
	width: 100%;
}
.navbar{
	height: 8vh;
}
#body{
	overflow-y: hidden;
}

.nav-side{
	height:92vh;
	padding-right: 0;
	margin-right: 0;
}


#TODOs{
	margin: 3px;
	max-height: 60vh;
}

#TODOlist{
	overflow:auto;
}

.list-group-item{
	color: white;
}


.content-sec{
	height: 92vh;
	margin-right: 0;
	padding-left: 3%;
	padding-top: 1.5%;
	padding-right: 0;
	overflow: auto;
}

#overview{
	max-width: 100%;
}

#overview .row div{
	margin-right: 2vw;
	margin-bottom: 2vh;
}
